* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: 'Poppins';
}

/*header---------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.45rem;
    background: #F7C7B9;
}

.header h1 {
    font-weight: 500;
    font-size: 2.4rem;
}

.header-left {
    display: flex;
    align-items: center;
    padding-left: 11.2rem;
    gap: 1.2rem;
}

.header-right {
    padding-right: 11.2rem;
}

#nav ul {
    display: flex;
    list-style: none;
    gap: 5.1rem;
}

/*esconde o menu hambúrguer*/
#btn-mobile {
    display: none;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    color: #F9F9F9;
}

/*inicio---------------------------------------------------*/

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54.15rem;
    background: #F7C7B9;
}

.inicio-left {
    padding-left: 11.2rem;
}

.inicio h1 {
    font-weight: 600;
    font-size: 4.8rem;
    padding-bottom: 2.4rem;
    padding-right: 12.6rem;
    line-height: 5.2rem;
}

.inicio p {
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 4rem;
    margin-right: 17rem;
    line-height: 2.4rem;
}

.inicio button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 3.2rem;
    gap: 1rem;
    background: #DA2535;
    border-radius: 0.8rem;
    border: 0;
    cursor: pointer;
}

.inicio button span {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #F9F9F9;
}

.inicio button:hover span {
    color: #161212;
}

.inicio button:hover {
    color: #161212;
}

.inicio-right {
    width: 100%;
    padding-right: 11.2rem;
}

.inicio-right img {
    width: 100%;
    height: 100%;
}

/* Acessórios------------------------------------------------*/

#acessories {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    height: 62.5rem;
    padding-left: 11.2rem;
    padding-right: 11.2rem;
}

#acessories .container .acessories-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#acessories .container .acessories-header h2 {
    color: #161212;
    font-size: 48px;
}

#acessories .container .acessories-header p {
    color: #404040;
    font-size: 16px;
    text-align: center;
    margin-top: 12px;
}

#acessories .container .acessories-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 32px;
    gap: 139px;
}

#acessories .container .acessories-cards h4 {
    margin-top: 17px;
    font-size: 20px;
    color: #161212;
}

#acessories .container .acessories-cards span {
    font-size: 16px;
    text-align: center;
    color: #8D8D8D;
    margin-top: 12px;
    
}

#acessories .container .acessories-cards #presentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
}

#acessories .container .acessories-cards #doces{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

#acessories .container .acessories-cards #enfeites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 70px;

}

#acessories .container .acessories-cards #love {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#acessories .container .acessories-cards img {
    height: 100%;
    width: 100%;
}

#acessories .container .acessories-cards .cards-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* doação------------------------------------------------*/

#donations {
    height: 54.15rem;
    background: #F7C7B9;
    display: flex;
    justify-content: center;
}

#donations .img-donations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 11.2rem;
}

#donations .img-donations img {
    height: 70%;
    width: 70%;
}

#donations .content-donations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    width: 50%;
    padding-right: 11.2rem;
}

#donations .content-donations .donations-txt h2 {
    font-size: 4.5rem;
    font-weight: 600;
    width: 70%;
    
}

#donations .content-donations .donations-txt p {
    font-size: 1.6rem;
    text-align: left;
}

#donations .content-donations .btn-container {
    display: flex;
    width: 100%;
}

#donations .content-donations .btn-donations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 3.2rem;
    gap: 1rem;
    background: #DA2535;
    border-radius: 0.8rem;
    border: 0;
    cursor: pointer;
}


#donations .content-donations .btn-span {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #F9F9F9;
}

.btn-container button:hover {
    color: #161212;
}

.btn-container span:hover {
    color: #161212;
}



/*footer----------------------------------------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14rem;
}

.footer-left {
    display: flex;
    padding-left: 11.2rem;
    gap: 1.2rem;
}

.footer-left h1 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
}

.footer-right {
    padding-right: 11.2rem;
}

.navbar-footer-contact ul {
    display: flex;
    list-style: none;
    gap: 4.2rem;
}

.navbar-footer-contact a img:hover{
    border-radius: 25px;
    background: #161212;
}

/*media queries-------------------------------------------*/

/*quando a tela for menor que 1320px*/
@media (max-width: 1320px) {
    #donations .content-donations .donations-txt h2 {
        font-size: 4.3rem;
    } 
}

/*quando a tela for menor que 1300px*/
@media (max-width: 1300px) {
    .inicio h1 {
        font-size: 4rem;
    }

    #donations .content-donations .donations-txt h2 {
        font-size: 4rem;
    }

    #donations .content-donations .donations-txt p {
        font-size: 1.5rem;
    }

}

/*quando a tela for menor que 1200px*/
@media (max-width: 1200px) {
    #donations .content-donations .donations-txt h2 {
        font-size: 3.5rem;
    }

    #donations .content-donations .donations-txt p {
        font-size: 1.3rem;
    }
}

/*quando a tela for menor que 1024px*/
@media (max-width: 1024px) {
    .inicio h1 {
        font-size: 3.5rem;
    }

    .inicio p {
        font-size: 1.4rem;
    }
}

/*quando a tela for menor que 900px*/
@media (max-width: 900px) {
    
    .header-left {
        padding-left: 5rem;
    }

    .header-right {
        padding-right: 5rem;
    }

    .inicio-right {
        display: none;
    }
    
    .inicio-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 11.2rem;
    
    }
    
    .inicio-left p {
        text-align: center;
        margin-right: 0;
    }
    
    .inicio-left h1 {
        padding-right: 0;
    }

    #donations .img-donations {
        display: none;
    }

    #donations .content-donations {
        padding-right: 0;
        width: 100%;
    }

    #donations .content-donations .donations-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #donations .content-donations .donations-txt h2 {
        text-align: center;
    }

    #donations .content-donations .donations-txt p {
        text-align: center;
    }

    .btn-container {
        justify-content: center;
    }

    #acessories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300vh;
    }

    #acessories .container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #acessories .container .acessories-header h2 {
        font-size: 3.5rem;

    }

    #acessories .container .acessories-header p {
        font-size: 1.4rem;
        width: 312px;
        height: 63px;
        margin-bottom: 40px;
    }

    #acessories .container .acessories-cards {
        display: block;
    }        
}

/*quando a tela for menor que 768px*/
@media (max-width: 768px) {
    .inicio {
        height: 44.15rem;
    }

    .footer-left {
        padding-left: 5rem;
    }

    .footer-right {
        padding-right: 5rem;
    }
}

/*quando a tela for menor que 730px*/
@media (max-width: 730px) {
    #nav #menu {
        gap: 3.1rem;
    }

    .inicio-left h1 {
        padding-right: 0;
        text-align: center;
    }
}

/*quando a tela for menor que 700px*/
@media (max-width: 700px) {
    .footer-left {
        display: none;
    }

    .footer-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .footer-right .navbar-footer-contact ul {
        display: flex;
        gap: 2rem;
    }
}

/*quando a tela for menor que 650px*/
@media (max-width: 650px) {
    .header h1 {
        font-size: 2rem;
    }
}

/*quando a tela for menor que 630px*/
@media (max-width: 630px) {

    /*esconde o menu - com animação de entrada*/
    #nav #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 9.45rem;
        right: 0px;
        background: #F7C7B9;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
    }

    /*quando nav recebe a classe:active habilita o menu*/
    #nav.active #menu {
        height: calc(100vh - 9.45rem);
        visibility: visible;  
        overflow-y: hidden;  
    }

    /*habilita o menu hambúrguer*/
    #btn-mobile {
        display: block;
        padding: .5rem 1rem;
        /* font-size: 1rem; */
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburguer {
        display: block;/*tirar ou n*/
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*quando a tela for menor que 430px*/
@media (max-width: 430px) {

    .inicio-left {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .inicio-left button {
        width: 100%;
    }

    .inicio {
        height: 38.15rem;
    }

    #donations {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        height: 35rem;
    }

    #donations .content-donations .donations-txt h2 {
        font-size: 3rem;
    }

    #donations .content-donations .donations-txt p {
        font-size: 1.3rem;
    }

    #donations .content-donations .btn-donations {
        width: 100%;
    }

    .footer {
        height: 8rem;
    }


}

/*quando a tela for menor que 375px*/
@media (max-width: 375px) {

    #donations .content-donations .donations-txt h2 {
        font-size: 2.5rem;
    }

    #donations .content-donations .donations-txt p {
        font-size: 1rem;
    }
}

/*quando a tela for menor que 320px*/
@media (max-width: 320px) {
    
    .header-left {
        padding-left: 3rem;
    }

    .header-right {
        padding-right: 3rem;
    }

    .inicio-left h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .inicio-left p {
        font-size: 14px;
        line-height: 21px;
    }

    #donations .content-donations .donations-txt h2 {
        font-size: 2.1rem;
    }

    #donations .content-donations .donations-txt p {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}